{% extends "email_base.tpl" %} {% block content %}
<tr>
  <td style="padding: 20px;">
    <p style="font-size: 14px; color: #5a5c5f; line-height: 1.5;">
      Thank you for subscribing to the LIneA Occultation Prediction
      Database. We are excited to have you on board. Before you start
      receiving customized predictions, we need to activate your account.
    </p>
    <p style="font-size: 14px; color: #5a5c5f; line-height: 1.5;">
      Please click the button below to proceed.
    </p>
    <div style="text-align: center; padding: 10px">
      <a href="{{host}}/api/subscription/activate/?c={{activation_code}}" style="
                      display: inline-block;
                        background-color: #0076BC;
                        color: #ffffff;
                        text-decoration: none;
                        font-size: 14px;
                        padding: 10px 20px;
                        border-radius: 4px;
                        line-height: 1.5;
                    " target="_blank">
        Activate Account
      </a>
    </div>

    <p style="font-size: 14px; color: #5a5c5f; text-align: center; margin: 10px 0; line-height: 1;">
      Or copy and paste the following link into your browser to activate your account:
    <div style="
                  font-size: 12px;
                  text-align: center;
                  padding: 10px;
                  color: #5a5c5f;
                ">
      {{host}}/api/subscription/activate/?c={{activation_code}}
    </div>
    </p>
    <p style="font-size: 14px; color: #5a5c5f; text-align: left; margin: 10px 0; line-height: 1.5;">
      Best regards,<br>
      The LIneA Team
    </p>
  </td>
</tr>
{% endblock %}
