{% block footer %}
<!--  footer -->
<!--  supporters -->
<div
  style="
    background: #f4f4f4;
    background-color: #f4f4f4;
    margin: 0px auto;
    max-width: 600px;
  "
>
  <table
    align="center"
    border="0"
    cellpadding="0"
    cellspacing="0"
    role="presentation"
    style="background: #f4f4f4; background-color: #f4f4f4; width: 100%"
  >
    <tbody>
      <tr>
        <td style="width: 100px">
          <div
            style="
              text-align: center;
              color: rgb(79, 78, 78);
              height: 76px;
              width: 600px;
              padding: 10px;
              background-color: #f4f4f4;
            "
          >
            <span
              style="
                font-family: Roboto, Helvetica, Arial, sans-serif;
                font-size: 13px;
                font-style: normal;
                font-weight: normal;
                text-align: center;
                color: rgb(79, 78, 78);
                width: 600px;
                padding: 10px;
                background-color: #f4f4f4;
              "
              >LIneA is sponsored by</span
            ><br />
            <img
              style="width: 90px; padding: 8px"
              src="https://solarsystem.linea.org.br/img/supporters/capes.png"
              alt=""
            />
            <img
              style="width: 90px; padding: 8px"
              src="https://solarsystem.linea.org.br/img/supporters/cnpq.png"
              alt=""
            />
            <img
              style="width: 90px; padding: 8px"
              src="https://solarsystem.linea.org.br/img/supporters/faperj.png"
              alt=""
            />
            <img
              style="width: 90px; padding: 8px"
              src="https://solarsystem.linea.org.br/img/supporters/finep.png"
              alt=""
            />
            <img
              style="width: 50px; padding: 8px"
              src="https://solarsystem.linea.org.br/img/supporters/e-universo_square.png"
              alt=""
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- termina supporters -->
<!-- barra rodapé -->
<div
  style="
    background: #f4f4f4;
    background-color: #f4f4f4;
    margin: 0px auto;
    max-width: 600px;
  "
>
  <table
    align="center"
    border="0"
    cellpadding="0"
    cellspacing="0"
    role="presentation"
    style="background: #0076bc; width: 100%"
  >
    <tbody>
      <tr>
        <td style="width: 100px">
          <div
            style="
              font-family: Roboto, Helvetica, Arial, sans-serif;
              font-size: 12px;
              font-weight: bold;
              text-align: right;
              color: #293465;
              height: 100%;
              width: 600px;
              padding: 10px;
              background-color: #d8d8d8;
              display: flex;
              align-items: flex-end; /* Aligns content to the bottom */
              justify-content: flex-end; /* Aligns content to the right */
            "
          >
            <span style="line-height: 10px">Powered by</span>
            <a
              style="display: inline-block; margin-left: 5px"
              href="http://www.linea.org.br/"
            >
              <img
                style="height: 30px; vertical-align: bottom"
                src="https://solarsystem.linea.org.br/img/linea-logo.png"
                alt="Linea Logo"
              />
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- termina barra rodapé -->
{% endblock %}
