{% extends "base.tpl" %} {% block content %}
<!-- Body -->
<tr>
  <td style="padding: 20px;">
    <p style="font-size: 14px; color: #5a5c5f; line-height: 1.5; text-align: center">
      Below is your login validation token.
    </p>

    <!-- Token Highlight -->
    <p class="token">
      {{callback_token}}
    </p>

    <p style="font-size: 14px; color: #5a5c5f; line-height: 1.5;">
      If you did not request this email, please ignore it. This token will expire soon for your security.
    </p>

    <p style="font-size: 14px; color: #5a5c5f; text-align: left; margin: 10px 0; line-height: 1.5;">
      Best regards,<br>
      The LIneA Team
    </p>
  </td>
</tr>
{% endblock %}
