# path/to/project/root/.eslintignore
# /node_modules/* and /bower_components/* in the project root are ignored by default

# Ignore built files except build/index.js
build/*
!build/index.js

public/lib/*
old_pages/*

# TODO: Páginas que precisam de refactoring
src/pages/Skybot/*
src/pages/OrbitTrace/*
src/components/Chart/*
