# Node Packages
node_modules

# Build Directory
/build

.tmp
.publish
.deploy
Thumbs.db
.node_history

*.seed
*.log
*.out
*.pid
npm-debug.log
*.iml
.env


# Dashboard

# Node Packages
/dashboard/node_modules

# Build Directory
/dashboard/build

/dashboard/.tmp
/dashboard/.publish
/dashboard/.deploy
/dashboard/Thumbs.db
/dashboard/.node_history

/dashboard/*.seed
/dashboard/*.log
/dashboard/*.out
/dashboard/*.pid
/dashboard/npm-debug.log
/dashboard/*.iml

