# Node Packages
node_modules

# Build Directory
/build

# Other repositories
/dashboard
/filter_objects
/get_pointings
/core_admin

.tmp
.publish
.deploy
Thumbs.db
.node_history

*.seed
*.log
*.out
*.pid
npm-debug.log
*.iml
.env
