# FOR DEVELOPMENT WITH docker-compose

# Database Settings for Django Backend "CoreAdmin"
DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres
DB_HOST=database
DB_PORT=5432

# Variaveis usadas apenas no container do postgres em desenvolvimento
POSTGRES_USER=$DB_USER
POSTGRES_PASSWORD=$DB_PASS
POSTGRES_DB=$DB_NAME
