# FOR DEVELOPMENT WITH docker-compose

# the hostname and port number of the current Server URL
HOST_URL=//localhost

EMAIL_NOTIFICATIONS=

# Modo de Debug do backend, usar DEBUG=False para desligar.
DEBUG=False

# Level do Log (INFO, DEBUG, WARNING, ERROR, CRITICAL)
LOGGING_LEVEL=INFO

# Database Settings for Django Backend "CoreAdmin"
DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres
DB_HOST=database
DB_PORT=5432

CATALOG_DB_NAME=postgres
CATALOG_DB_USER=postgres
CATALOG_DB_PASS=postgres
CATALOG_DB_HOST=database
CATALOG_DB_PORT=5432

# Variaveis usadas apenas no container do postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# Diretorios externos aos containers
LOG_DIR=./log
ARCHIVE_DIR=./archive
PROCCESS_DIR=./archive/proccess
CCD_IMAGES_DIR=./archive/ccd_images

# Parsl maxThreads (https://parsl.readthedocs.io/en/stable/userguide/configuring.html)
AVAILABLE_THREADS=4
# Quantidade de threads minimo, tambem usado para processos que consomen muita memoria. 
MINIMUM_THREADS=2

# CONDOR API SETTINGS 
CONDOR_API=http://condorapi.linea.gov.br
CONDOR_CLUSTER=icex
CONDOR_MACHINE=apl16.ib0.cm.linea.gov.br


# Path para o diretorio de archive na maquina host, utilizado para montar os volumes dos 
# dos containers em tempo de execucao.
# OBS: para developers o diretorio onde a aplicacao foi instalada. ex: /home/user/tno/archive
# Exemplo: HOST_ARCHIVE=/home/<user>/tno/archive
HOST_ARCHIVE=

# Docker Client
# Ip e porta do configurado para o client docker do host. 
# e possivel obter o ip utilizando o comando
# docker inspect <container_id>
# O IP do Host aparece no atributo "Network"->"Gateway": "172.19.0.1",
# A porta tem que ser a definida no arquivo: /etc/systemd/system/docker.service.d/startup_options.conf
#DOCKER_HOST=tcp://0.0.0.0:2376

# Autenticao Gidlab Shibboleth
# Url para pagina de login do Shibboleth, usar None para desativar o login institucional
AUTH_SHIB_URL=http://gidlabdemo.linea.gov.br/Shibboleth.sso/Login
# Diretório onde ficam os arquivos de sessão.
# é necessario que os 2 containers possam escrever neste diretório.
AUTH_SHIB_SESSIONS=./auth_shib_sessions
# Chave para criptografar os arquivos de sessao. 
# gerada randomicamente por este site por exemplo: https://randomkeygen.com/
AUTH_SHIB_CRYPT_KEY=

# DES Acesso para download de imagens (CCDs)
# ARCHIVE_URL = Endereco http para donwload dos ccds, ex: 'https://desar2.cosmology.illinois.edu/DESFiles/desarchive/'. 
# usar None para desabilitar o download de ccds
DES_ARCHIVE_URL=https://desar2.cosmology.illinois.edu/DESFiles/desarchive/
# DES username e Password para fazer o download. 
DES_USERNAME=rcampisa
DES_PASSWORD=rca2017