// Patterns

.grid  {
    display: grid;
    margin: 1.25em;
}

.section {
    min-width: 100%;
}

// -------------  POINTINGS  --------------------------//

.poitings_stats {
    grid-area: poitings_stats;
}
.poitings_list {
    grid-area: poitings_list;
  
}
.plot_ccd_band {
    grid-area: plot_ccd_band;
}

.plot_ccd_exp {
    grid-area: plot_ccd_exp;
}

.plot_sky {
    grid-area: plot_sky;
}

.list_stats{
    grid-area: list_stats;
}


.list_pointings{
    grid-area: list_pointings;
}

// ------------   SKYBOT   -------------------------//

.plot_dinamics {
    grid-area: plot_dinamics;
}

.plot_band {
    grid-area: plot_band;
}

.list_stats_skybot{
    grid-area: list_stats_skybot;
}

.table_skybot {
    grid-area: table_skybot;
}

// ------------   FILTER OBJECT   -------------------//

.form_filter {
    grid-area: form_filter;
}

.search_filter {
    grid-area: search_filter;
}

.table_filter {
    grid-area: table_filter;
}

// ------------   REFINE ORBIT   -------------------//

.submit_refine {
    grid-area: submit_refine;
}

.running_refine {
    grid-area: running_refine;
}

.history_refine {
    grid-area: history_refine;
}

// -------------------------------------------------//

// ------------   ASTROMETRY   -------------------//

.exec_astrometry {
    grid-area: exec_astrometry;
}

.running_astrometry {
    grid-area: running_astrometry ;
}

.history_astrometry {
    grid-area: history_astrometry;
}

// -------------------------------------------------//


// ------------   PREDICTION OF OCCULTATIONS   -------------------//

.list_predict_occult {
    grid-area: list_predict_occult;
}

.stats_predict_occult {
    grid-area: stats_predict_occult ;
}

.exec_predict_occult {
    grid-area: exec_predict_occult;
}

.table_predict_occult {
    grid-area: table_predict_occult;
}

// 

.content1_predict_occult {
    grid-area: content1_predict_occult;
}

.content2_predict_occult {
    grid-area: content2_predict_occult;
}

.history_predict_occult {
    grid-area: history_predict_occult;
}


// -------------------------------------------------//



@media screen and (min-width: 1366px) {

    .template-wrap-pointings {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(1, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "poitings_stats"
        "pointings_list"
        ; 
    }

    .template-pointigs {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(3, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "plot_ccd_band plot_ccd_exp plot_sky"
        "list_stats list_stats plot_sky"
        "list_pointings list_pointings list_pointings"
        ; 
    }

    .template-skybot {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "plot_dinamics plot_band"
        "list_stats_skybot list_stats_skybot"
        "table_skybot table_skybot"
        ; 
    }

    .template-filter-object {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "form_filter search_filter"
        "table_filter table_filter"
        ; 
    }

    .template-refine-orbit {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "submit_refine running_refine"
        "history_refine history_refine"
        ; 
    }

    .template-predict-occult {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "navigation_predict_occult navigation_predict_occult"
        "list_predict_occult stats_predict_occult"
        "exec_predict_occult exec_predict_occult"
        "table_predict_occult table_predict_occult"
        ; 
    }

    .template-predict-panel {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "content1_predict_occult content1_predict_occult"
        "history_predict_occult history_predict_occult"
        ; 
    }


    .template-predict-astromery {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "exec_astrometry running_astrometry"
        "history_astrometry history_astrometry"
        ; 
    }
}


@media screen and (max-width: 1366px)  {

    .template-wrap-pointings {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(1, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "poitings_stats"
        "pointings_list"
        ; 
    }
    
    .template-pointigs {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "plot_ccd_band plot_ccd_exp"
        "list_stats list_stats"
        "plot_sky plot_sky"
        "list_pointings list_pointings"
        ; 
    }

    .template-skybot {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "plot_dinamics plot_band"
        "list_stats_skybot list_stats_skybot"
        "table_skybot table_skybot"
        ; 
    }

    .template-filter-object {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "form_filter form_filter"
        "search_filter search_filter" 
        "table_filter table_filter"
        ; 
    }

    .template-refine-orbit {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(1, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "submit_refine"
        "running_refine"
        "history_refine"
        ; 
    }

    .template-predict-panel {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "content1_predict_occult content1_predict_occult"
        "history_predict_occult history_predict_occult"
        ; 
    }

    .template-predict-astromery {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "exec_astrometry running_astrometry"
        "history_astrometry history_astrometry"
        ; 
    }

}

@media  screen and (max-width: 768px)  {

    .template-wrap-pointings {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(1, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "poitings_stats"
        "pointings_list"
        ; 
    }
    
    .template-pointigs {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(1, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "plot_ccd_band"
        "plot_ccd_exp"
        "list_stats"
        "plot_sky"
        "list_pointings"
        ; 
    }
    .template-skybot {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(1, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "plot_dinamics"
        "plot_band"
        "list_stats_skybot"
        "plot_sky"
        "table_skybot"
        ; 
    }

    .template-filter-object {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "form_filter form_filter"
        "search_filter search_filter" 
        "table_filter table_filter"
        ; 
    }

    .template-refine-orbit {
        grid-gap: 0.75rem;
        grid-template-columns: repeat(1, minmax(12.5rem, 1fr));
        grid-template-rows: auto; 
        grid-template-areas: 
        "submit_refine"
        "running_refine"
        "history_refine"
        ; 
    }

    

}

// -------------------------------------------------//