.group-stats {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    font-size: 1.375rem !important;

    .item {
        margin: 10px 40px !important;
        min-width: 200px;
        flex: 1; 
    }
    .label-stats {
        color: #252525;
    }
    .value-stats {
        margin: 5px 0px;
        color: #62388C;
    }
}

.hr-stats {
    padding: 0;
    margin: 10px 0px;
    background: #979797;
    height: 1px;
}