.main-validation {
    width: 900px;
    height: 40px;
    background-color: transparent;
    margin-left: 10px !important;
    // opacity: 0.8;
    position: absolute;
    border-radius: 2px; 
    display: none;
    transition-duration: display 0.5s;
    animation-name: example;
    animation-duration: 12s;

    > p {
        color: rgb(77, 77, 77);
        background-color: none;
        animation-name: example;
        animation-duration: 12s;
        margin: 10px 15px !important;
        font-weight: 700; 
    }

    &.danger {
        background: #f8b7bd;
   
   }

    &.block {
        display: block;
    }

   

    // &.primary {
    //     background-color:rgb(87, 213, 230);
    // }

    &.success {
        background:rgb(52, 180, 121);
    }

    // &.warning {
    //     background-color:rgb(209, 216, 110);
    // }
}