// ListStats Component

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #444;
    border-radius: 10px;

    
  }
  
  .badge:empty {
    display: none;
  }

  .label {
    display: inline;
    padding: .6em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;

  }

  .label.label-outline {
    background: 0 0;
    border: 1px solid;
    &.label-primary {
      color: #2c97de;
      border-color: #2c97de;
    }
    &.label-success {
      color: #84b547;
      border-color: #84b547;
    }
    &.label-info {
      color: #2dbda8;
      border-color: #2dbda8;
    }
    &.label-warning {
      color: #e76d3b;
      border-color: #e76d3b;
    }
    &.label-danger {
      color: #cc3e4a;
      border-color: #cc3e4a;
    }
    &.label-cerulean {
      color: #00A3E3;
      border-color: #00A3E3;
    }
    &.label-curious-blue {
      color: #2986c7;
      border-color: #2986c7;
    }
    &.label-endaveour {
      color: #0055a3;
      border-color: #0055a3;
    }
    &.label-minsk {
      color: #362d88;
      border-color: #362d88;
    }
    &.label-eminence {
      color: #742787;
      border-color: #742787;
    }
    &.label-violet-eggplant {
      color: #aa1985;
      border-color: #aa1985;
    }
    &.label-mint-green {
      color: #72ff96;
      border-color: #72ff96;
    }
    &.label-aquamarine {
      color: #62ffe0;
      border-color: #62ffe0;
    }
    &.label-malibu {
      color: #6abfff;
      border-color: #6abfff;
    }
    &.label-dodger-blue {
      color: #5e6cff;
      border-color: #5e6cff;
    }
    &.label-heliotrope {
      color: #a26bff;
      border-color: #a26bff;
    }
    &.label-perfume {
      color: #f57ffe;
      border-color: #f57ffe;
    }
    &.label-brand-cerulean {
      color: #00A3E3;
      border-color: #00A3E3;
    }
    &.label-running {
      color: #262626;
      border-color: #262626;
    }
    &.label-gray-dark {
      color: #2d2d2d;
      border-color: #2d2d2d;
    }
    &.label-gray {
      color: #383838;
      border-color: #383838;
    }
    &.label-gray-light {
      color: #444;
      border-color: #444;
    }
    &.label-gray-lighter {
      color: #5c5c5c;
      border-color: #5c5c5c;
    }
    &.label-white {
      color: #fff;
      border-color: #fff;
    }
  }


  // ListStats Not Component (Adjusts in line)


.list-stats {
    border: none;
    border-collapse: collapse;
    margin: 0;
}

.list-stats  > tr {
    border: 1px solid black;
    border-collapse: collapse;
}

.list-stats  > tbody > tr > td {
    border-top: 1px solid #c6c6c6;
    border-collapse: collapse;
}

.list-stats  > th, td {
    padding: 5px;
    text-align: left;
}

// criar arquivo
 
 .icon {
  font-size: .6em !important;
 }
 

