.panel-content {
 //min-width: 500px;
 min-height: none;
 background: #ffffff !important;  
 border: 1.5px solid $panel-costumize-default;
 border-radius: 1px;

    .header {
     border-bottom: 2px solid $panel-costumize-default;
     background-color: $panel-costumize-default;
    }

    .title {
     line-height: 20px;
     padding: 4px 14px;
     font-size: 16px; 
     color: #fff;
     font-weight:600;
     font-family: $font-family-lato;
     //text-transform: uppercase;
    }

    .subTitle {
     padding: 4px 14px;
     font-size: 14px; 
     color: $panel-costumize-default;
     font-weight:500;
     font-family:  $font-family-lato;
     margin-bottom: 0px;
     
    }
}

.none > .ui-card-body{
    padding: 0 !important;
    margin: 0 10px !important;
}
.none > Table > tbody, {
    margin: 0 10px -10px !important;
    padding: 0 !important;
}


.panel-hr {
    background-color: $panel-costumize-default;
    height: 1px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hr-subTitle {
    margin: 0 15px 0 10px;
    height: 1px;
    background-color: #c7c7c7 !important;  
}