.plot-roxo {
    color: $plot-roxo;
}

.plot-verde{
    color: $plot-verde;
}

.plot-azul {
    color: $plot-azul !important;
}

.plot-amarelo{
    color: $plot-amarelo;
}

.plot-alaranjado {
    color: $plot-alaranjado;
}