.plot-roxo {
    color: $plot-roxo;
}

.plot-verde{
    color: $plot-verde;
}

.plot-azul {
    color: $plot-azul !important;
}

.plot-amarelo{
    color: $plot-amarelo;
}

.plot-alaranjado {
    color: $plot-alaranjado;
}


.plot_predict_radius {
    width: 637px;
    height: 492px;
    margin: 0px 175px;
    >img {
        width: 100%;
        height: inherit
    }
}

.plot_predict_earth {
    width: 411px;
    height: 296px;
    margin: 15px 60px;
    >img {
        width: 100%;
        height: inherit
    }
}