.step-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    
    > li {
        // color: rgba(0,0,0,0.8) !important;
        font-size: 14px;
    }

    > li.number {
        margin-left: 20px;
        margin-top: 2px;
        // color: $black-bg;
        font-size: $font-size-medium;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}

.step-title {    
    color: rgba(0,0,0,1) !important;
    font-size: $font-size-small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.step-icon {
    font-size: 1.8em;
    color: rgba(0,0,0,0.5) !important;
    line-height: 1px;

}

.step-format {

        list-style: none;
        margin: 0;
        padding: 0;  


        > li a {
            color: rgba(0,0,0,0.5) !important;
            font-size: $font-size-small;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 300;
            margin-left: 10px;

            

        }
}


.step-text-right {
    float: right;
}

.step-text-left {
    float: left;
}

.false {
    background-color: none;
    border: none;
}


.true {
    background-color: none;
    border: 1px solid #c6c6c6;
    border-radius: 0px;

}






