.table{

   .radio,
   .checkbox{
        position: relative;
        height: 20px;
        display: block;
        width: 20px;
        padding: 0px 0px;
        margin: 0px 5px;
        text-align: center;

        .icons{
            left: 5px;
        }
   }
   > thead > tr > th,
   > tbody > tr > th,
   > tfoot > tr > th,
   > thead > tr > td,
   > tbody > tr > td,
   > tfoot > tr > td{
       padding: 12px 8px;
       vertical-align: middle;
   }
   // MANU : aici este ceva schimbat!!!
   > tbody > tr > td{
       font-size: 14px;
       white-space: nowrap; 
       overflow: hidden;
       text-overflow: ellipsis;
   }
    > thead > tr > th{
        border-bottom-width: 1px;
        font-size: $font-size-small;
        text-transform: uppercase;
        color: $custom_dark-gray;
        font-weight: $font-weight-semi;
        padding-bottom: 5px;
    }

   .td-actions .btn{
        @include opacity(0.36);

        &.btn-xs{
            padding-left: 3px;
            padding-right: 3px;
        }
    }
    .td-actions{
        min-width: 90px;
    }

    > tbody > tr{
        position: relative;

        &:hover{
            .td-actions .btn{
                @include opacity(1);
            }
        }
    }

    // Background for table cels
    .background-muted {
        background-color: $dark-gray !important;
    }  
    .background-primary {
        background-color: $primary-states-color !important;
    }    
    .background-info {
        background-color: $info-color !important;
    }      
    .background-success {
        background-color: $success-color !important;
    }
    .background-warning {
        background-color: $warning-color !important;
    }  
    .background-danger {
        background-color: $danger-color !important;
    }          
}

.status_table {
    font-weight: 700;
    color: #fff;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    width: 80;  
    
    &.running {
        background-color: $info-color !important;
    }
    &.success {
        background-color: $success-color !important;
    }
    &.warning {
        background-color: $warning-color !important;
    }
    &.failure {
        background-color: $danger-color !important;
    }
    &.pending {
        background-color: $custom-dark-gray !important;
    }
    &.canceled {
        background-color: $danger-color !important;
    }    
}

.simple_property_table {

    tbody > tr > td{
        font-size: 14px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        color: $custom_dark-gray;
        // border-bottom: 1px solid #ddd;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
}
