
.rdrCalendarWrapper {
  width: 100%;
  max-width: 100%;
}

.rdrDateDisplayWrapper {
  background-color: rgb(248, 249, 252);
}

.rdrMonthAndYearWrapper .rdrNextPrevButton {
  background: rgb(248, 249, 252);
}

.rdrMonth {
  width: 100%;
}