.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding-top: 8px !important;    
    padding-bottom: 8px !important;    
}

.MuiOutlinedInput-input{
    padding-top: 10px !important;    
    padding-bottom: 10px !important;  
}

.cardBoder{
    border: 1px solid #f0efef;
}