.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding-top: 8px !important;    
    padding-bottom: 8px !important;    
}

.MuiOutlinedInput-input{
    padding-top: 10px !important;    
    padding-bottom: 10px !important;  
}

.cardBoder{
    border: 1px solid #e6e5e5;
}

.buttonFilter{
    min-width: 150px !important;
    margin-top: 15px !important;
}