
{% extends 'base_email.html' %}

{% block title %}Banner{% endblock %}

{% block content %}

<table style="background:#F4F4F4;background-color:#F4F4F4;margin:0px auto;max-width:600px;">-->
    <!-- faixa roxa do logo  agora banner -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#F4F4F4;background-color:#F4F4F4;margin:0px auto;max-width:600px;">
        <tbody>
            <tr>
                <td style="direction:ltr; font-size:0px;padding:0px;text-align:center;">
                    <div style="margin:0px auto;max-width:600px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td style="direction:ltr;font-size:0px;padding:0%;padding-left:0%;padding-right:0%;text-align:center;">
                                        <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td style="vertical-align:top;padding:0%;padding-right:0%;padding-left:0%;">
                                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="left" style="font-size:0px;padding:0%;word-break:break-word;">
                                                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="width:600px;"><img height="auto" src="img/Captura_de_tela_2024-03-13_190407.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="600">
                                                                                            <h1>solarsystem</h1>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table><!--  Termina o baner-->

{% endblock %}