<!--
{% extends 'base_email.html' %}

{% block title %}Banner{% endblock %}

{% block content %}
-->
<div style="background:#F4F4F4;background-color:#F4F4F4;margin:0px auto;max-width:600px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#F4F4F4;background-color:#F4F4F4;width:100%;">
        <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;">
                    <div style="background:#F4F4F4;background-color:#F4F4F4;margin:0px auto;max-width:600px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#F4F4F4;background-color:#F4F4F4;width:100%;">
                            <tbody>
                                <tr>
                                    <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;padding-top:10%;text-align:center;">
                                        <div class="mj-column-per-100 mj-outlook-group-fix body-title" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td style="background-color: #003466; vertical-align:top;padding-right:5%;padding-left:5%;">
                                                            <table border="0" cellpadding=3D"0" cellspacing=3D"0" role="presentation" width="100%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="left" class="body-title" style="font-size:0px;padding:10px 25px;padding-top:2%;padding-bottom:2%;word-break:break-word;">
                                                                            <div style=" font-family:Helvetica;font-size:13px;font-style:normal;font-weight:bold;letter-spacing:-0.5px;line-height:115%;text-align:center;color:#E5E5E5;">Seja bem vindo!
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div> <!--  Termina saudação roxinha-->
<!-- Inicia titulo negrito -->
<div style="background:#F4F4F4;background-color:#F4F4F4;margin:0px auto;max-width:600px;"> <!-- cor gelo #E5E5E5 -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#F4F4F4;background-color:#F4F4F4;width:100%;">
        <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0;padding-left:5%;padding-right:5%;padding-top:10%;text-align:center;">
                    <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                                <tr>
                                    <td style="background-color:#F4F4F4;vertical-align:top;padding-right:5%;padding-left:0px;">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="center" class="body-normal" style="font-size:0px; padding:10px 25px;padding-top:5%;padding-bottom:5%;word-break:break-word;">
                                                        <div style="font-family:Helvetica;font-size:13px;font-style:normal;font-weight:normal;line-height:130%;text-align:center;color:#111111;">
                                                            <strong>Obrigado por se inscrever na newsletter do nosso Solar System Portal!
                                                            </strong>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Termina titulo negrito -->
<!-- Corpo do email --> 
<!--  Primeiro paragrafo -->
<div style="background:#F4F4F4;background-color:#F4F4F4;margin:0px auto;max-width:600px;">
    <table align"center" border"0" cellpadding="0" cellspacing="0" role"presentation" style="background:#F4F4F4;background-color:#F4F4F4;width:100%;">
        <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;text-align:center;">
                    <div class="mj-column-per-100 mj-outlook-group-fix body-normal" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                                <tr>
                                    <td style="vertical-align:top;padding-right:5%;padding-left:5%;">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="justify" class="body-normal" style="font-size:0px;padding:10px 25px;padding-top:2%;padding-bottom:2%;word-break:break-word;">
                                                        <div
                                                            style="font-family:Helvetica;font-size:13px;font-style:normal;font-weight:normal;line-height:130%;text-align:justify color:#111111;"><a href="#" style="color:#FB1010;font-weight: bold; text-decoration: none;"  target="_blank">Clique aqui</a> e preencha o formulário com suas configurações desejadas para começar a receber periodicamente nossos relatórios com as predições.
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div> <!-- Termina primeiro paragrafo -->
<div style="background:#F4F4F4;background-color:#F4F4F4;margin:0px auto;max-width:600px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"style="background:#F4F4F4;background-color:#F4F4F4;width:100%;">
        <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;text-align:center;">
                    <div class="mj-column-per-100 mj-outlook-group-fix body-normal" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                                <tr>
                                    <td style="vertical-align:top;padding-right:5%;padding-left:5%;">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation=" width=" 100%">
                                            <tbody>
                                                <tr>
                                                    <td align="justify" class="body-normal" style="font-size:0px;padding:10px 25px;padding-top:2%;padding-bottom:2%;word-break:break-word;">
                                                        <div style="font-family:Helvetica;font-size:13px;font-style:normal;font-weight:normal;line-height:130%;text-align:justify;color:#111111;">
                                                            <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.</strong><br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus earum nesciunt unde soluta explicabo, dolor similique quisquam ex quas commodi quam accusantium ipsa esse maiores quibusdam ipsam, dicta vero fugiat.<br><br>
                                                            Para se descadastrar <a href="#" style="color:#FB1010;font-weight: bold; text-decoration: none;" target="_blank">clique aqui.</a> 
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div> <!-- termina 3 paragrafo --> <!-- Termina Corpo do email -->

{% endblock %}