<!--
{% extends 'base_email.html' %}

{% block title %}Banner{% endblock %}

{% block content %}
-->
<!-- inicio rodape preto-->
<div style="margin:0px auto;max-width:600px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color:#F4F4F4;width:100%;">
                                                                                            <!-- #0076BC azul;  #24292e cinza -->
        <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;">
                    <div style="margin:0px auto;max-width:600px;">
                        <img height="auto" src="img/Captura de tela 2024-03-15 105142.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="600">
                                    
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}