# Docker Compose
# -------------------------------------
TNO_IMAGE_TAG=teste
TNO_UID=31670
TNO_GID=15010
TNO_SSHKEY=/lustre/t1/scratch/users/app.tno/.ssh/id_rsa
TNO_PROJ_DIR=/lustre/t1/scratch/users/app.tno/tno_dev
TNO_PORT=8060

# RabbitMQ
# -------------------------------------
RABBITMQ_DEFAULT_USER=tno
RABBITMQ_DEFAULT_PASS=Noophix8
RABBITMQ_DEFAULT_VHOST=tno_vhost

# Django
# -------------------------------------
DJANGO_ENVIRONMENT_NAME=Testing
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=vG3ndoJhuI6nGtFhZdeA2F6DEsJWUB0is3oyGaBM3g
DJANGO_ALLOWED_HOSTS=tno-dev.linea.org.br
DJANGO_CELERY_BROKER_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbit:5672/${RABBITMQ_DEFAULT_VHOST}
DJANGO_CELERY_WORKER_CONCURRENCY=6
DJANGO_UWSGI_WORKER_PROCESSES=2
DJANGO_UWSGI_WORKER_THREADS=2

# DATABASE used in Django and Predict Occultation container
# -------------------------------------
DB_ADMIN_URI=postgresql://<DB_USER>:<DB_USER>@desdb4.linea.gov.br:5432/<DB_NAME>
DB_CATALOG_URI=postgresql://<DB_USER>:<DB_USER>@desdb4.linea.gov.br:5432/prod_gavo
