
# Database Settings for Django Backend "CoreAdmin"
DB_NAME=<Database Name>
DB_SCHEMA=<Database Schema>
DB_USER=<Database User>
DB_PASS=<Database Pass>
DB_HOST=<Database Host>
DB_PORT=<Database Port>
