gunicorn
Django==2.2.21
djangorestframework==3.9.2
django-filter==2.1.0
django-url-filter==0.3.12
django-cors-headers==2.5.2
django-settings-export==1.2.1
psycopg2-binary
SQLAlchemy==1.3.2
humanize
parsl==0.5.2
requests
bs4
docker==3.4.1
pytimeparse
lxml
pandas
matplotlib==3.1.1
numpy==1.17.0
apscheduler
pyAesCrypt==0.4.3
pyopenssl
python-ldap==3.2.0
django-auth-ldap==2.1.1