body {
  background-image: none;
  background-color:  #f2f2f2;
  font-family: Roboto, sans-serif;

}

.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.MuiContainer-maxWidthXs {
  max-width: 444px;
}

.MuiContainer-root {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

#header {
  position: relative;
  background-image: url('../img/login-header.jpg');
  background-color: #000;
  background-position: 7% 54%;
  background-repeat: no-repeat;
  background-attachment: local;
  height: 30vh;
}

.MuiTypography-root {
  margin: 0;
}

.MuiTypography-h1 {
  font-size: 10rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.167;
  letter-spacing: -0.01562em;
}

.MuiTypography-h5 {
  font-size: 2.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
}

.title {
  top: 50%;
  left: 0;
  color: #ffc107;
  right: 0;
  position: absolute;
  transform: translateY(-50%);
  text-align: center;
  font-family: Oswald, sans-serif;
  margin: auto;
}

.MuiGrid-item {
  margin: 0;
  box-sizing: border-box;
}

.MuiGrid-xs-12 {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
}

.paper {
  display: flex;
  margin-top: 64px;
  align-items: center;
  flex-direction: column;
}

.MuiAvatar-colorDefault {
  color: #fafafa;
  background-color: #bdbdbd;
}

.MuiAvatar-root {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
}

.sign-in-avatar {
  margin: 8px;
  background-color: #f50057;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 2.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

button {
  appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(buttontext, rgb(170, 170, 170));
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
}

.MuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.MuiButton-root {
  color: rgba(0, 0, 0, 0.87);
  padding: 6px 16px;
  font-size: 1.5rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.MuiButton-contained {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  background-color: #e0e0e0;
}

.MuiButton-containedPrimary {
  color: #fff;
  background-color: #34465d;
}

.MuiButton-fullWidth {
  width: 100%;
}

.login-submit {
  margin: 24px 0px 16px;
}

.login-submit-shibboleth, .login-submit-shibboleth:hover {
  color: #fff;
  text-decoration: none;
  background-color: #f50057;
}

.MuiFormControl-root {
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}

.MuiFormControl-marginNormal {
  margin-top: 16px;
  margin-bottom: 8px;
}

.MuiFormControl-fullWidth {
  width: 100%;
}

.MuiFormLabel-root {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;
}

.MuiInputLabel-root {
  display: block;
  transform-origin: top left;
}

.MuiInputLabel-formControl {
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(0, 24px) scale(1);
}

.MuiInputLabel-shrink {
  transform: translate(0, 1.5px) scale(0.75);
  transform-origin: top left;
}

.MuiInputLabel-outlined {
  z-index: 1;
  transform: translate(14px, 20px) scale(1);
  pointer-events: none;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(14px, -6px) scale(0.75);
}

.MuiInputBase-root {
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1.5rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
}

.MuiInputBase-fullWidth {
  width: 100%;
}

.MuiOutlinedInput-root {
  position: relative;
  border-radius: 4px;
}

.MuiInputBase-input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.MuiOutlinedInput-input {
  padding: 18.5px 14px;
}

.MuiInputBase-input:focus {
  outline: 0;
}

.MuiInputBase-input:-webkit-autofill {
  animation-name: mui-auto-fill;
  animation-duration: 5000s;
}

.MuiOutlinedInput-input:-webkit-autofill {
  border-radius: inherit;
}

fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}

.PrivateNotchedOutline-root-223 {
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 8px;
  overflow: hidden;
  position: absolute;
  border-style: solid;
  border-width: 1.63px;
  border-radius: inherit;
  pointer-events: none;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(52, 70, 93, 0.70);
}

legend {
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.PrivateNotchedOutline-legendLabelled-225 {
  width: auto;
  height: 11px;
  display: block;
  padding: 0;
  font-size: 1.1rem;
  max-width: 0.01px;
  text-align: left;
  transition: max-width 50ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  visibility: hidden;
}

.PrivateNotchedOutline-legendNotched-226 {
  max-width: 1000px;
  transition: max-width 100ms cubic-bezier(0.0, 0, 0.2, 1) 50ms;
}

.PrivateNotchedOutline-legendLabelled-225 > span {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.MuiFormHelperText-root {
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  font-size: 0.75rem;
  margin-top: 3px;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}

.MuiFormHelperText-contained {
  margin-left: 14px;
  margin-right:
   14px;
}

.Mui-error, .MuiFormHelperText-root.Mui-error {
  color: #f44336;
}

.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: #f44336;
}

.MuiFormLabel-root.Mui-error {
  color: #f44336;
}

.form-login {
  width: 100%;
  margin-top: 8px;
}