<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>LIneA Solar System Portal - Validation Token</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Oxanium:wght@100;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="background: #f4f4f4; margin: 0; padding: 0">
    <!-- Baner logo TON -->
    <div
      style="
        background: #f4f4f4;
        background-color: #f4f4f4;
        margin: 0px auto;
        max-width: 600px;
      "
    >
      <table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        style="background: #f4f4f4; background-color: #f4f4f4; width: 100%"
      >
        <tbody>
          <tr>
            <td style="width: 100px">
              <div
                style="
                  font-family: Oxanium;
                  font-weight: 100;
                  font-size: 23px;
                  font-style: normal;
                  font-weight: bold;
                  text-align: center;
                  color: #e5e5e5;
                  height: 60px;
                  width: 600px;
                  padding: 10px;
                  background-color: #0076bc;
                "
              >
                <img
                  style="width: 70px"
                  src="https://solarsystem.linea.org.br/img/tno_logo_projetos.png"
                  alt=""
                />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Termina baner logo TON-->
    <!-- baner titulo -->
    <div
      style="
        background: #f4f4f4;
        background-color: #f4f4f4;
        margin: 0px auto;
        max-width: 600px;
      "
    >
      <table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        style="background: #f4f4f4; background-color: #f4f4f4; width: 100%"
      >
        <tbody>
          <tr>
            <td style="width: 100px">
              <div
                style="
                  font-family: Oxanium;
                  font-weight: 100;
                  font-size: 23px;
                  font-style: normal;
                  font-weight: normal;
                  text-align: center;
                  color: #e5e5e5;
                  height: 60px;
                  width: 600px;
                  padding: 10px;
                  background-color: #0076bc;
                "
              >
                LIneA Occultation Prediction Database
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--  Termina baner titulo-->
    <!-- main content -->
    <div style="background: #f4f4f4; margin: 0px auto; max-width: 600px">
      <table
        align="center"
        border="0"
        cellpadding="15"
        cellspacing="0"
        role="presentation"
        style="background: #f4f4f4; width: 100%"
      >
        <tbody>
          <tr>
            <td style="width: 100px">
              <div
                style="
                  font-family: Roboto, Helvetica, Arial, sans-serif;
                  font-size: 14px;
                  font-style: normal;
                  text-align: center;
                  color: rgb(79, 78, 78);
                  height: 55px;
                  width: 570px;
                  padding: 20px 10px;
                  background-color: #f4f4f4;
                "
              >
                Here is your login validation token for the LIneA Occultation
                Prediction Database.
              </div>
              <div
                style="
                  font-family: Roboto, Helvetica, Arial, sans-serif;
                  font-size: 18px;
                  font-weight: bold;
                  text-align: center;
                  color: #0076bc;
                  height: 65px;
                  width: 570px;
                  padding: 10px;
                  background-color: #f4f4f4;
                "
              >
                {{ callback_token }}
              </div>
              <div
                style="
                  font-family: Roboto, Helvetica, Arial, sans-serif;
                  font-size: 14px;
                  text-align: center;
                  color: rgb(79, 78, 78);
                  height: 65px;
                  width: 570px;
                  padding: 10px;
                  background-color: #f4f4f4;
                "
              >
                If you did not request this email, please ignore it. This token
                will expire soon for your security.
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- footer -->
    <div style="background: #f4f4f4; margin: 0px auto; max-width: 600px">
      <table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        style="background: #f4f4f4; width: 100%"
      >
        <tbody>
          <tr>
            <td style="width: 100px">
              <div
                style="
                  text-align: center;
                  color: rgb(79, 78, 78);
                  height: 76px;
                  width: 600px;
                  padding: 10px;
                  background-color: #f4f4f4;
                "
              >
                <span
                  style="
                    font-family: Roboto, Helvetica, Arial, sans-serif;
                    font-size: 13px;
                    color: rgb(79, 78, 78);
                  "
                >
                  LIneA is sponsored by </span
                ><br />
                <img
                  style="width: 90px; padding: 8px"
                  src="https://solarsystem.linea.org.br/img/supporters/capes.png"
                  alt=""
                />
                <img
                  style="width: 90px; padding: 8px"
                  src="https://solarsystem.linea.org.br/img/supporters/cnpq.png"
                  alt=""
                />
                <img
                  style="width: 90px; padding: 8px"
                  src="https://solarsystem.linea.org.br/img/supporters/faperj.png"
                  alt=""
                />
                <img
                  style="width: 90px; padding: 8px"
                  src="https://solarsystem.linea.org.br/img/supporters/finep.png"
                  alt=""
                />
                <img
                  style="width: 50px; padding: 8px"
                  src="https://solarsystem.linea.org.br/img/supporters/e-universo_square.png"
                  alt=""
                />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="background: #0076bc; margin: 0px auto; max-width: 600px">
      <table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        style="background: #0076bc; width: 100%"
      >
        <tbody>
          <tr>
            <td style="width: 100px">
              <div
                style="
                  font-family: Roboto, Helvetica, Arial, sans-serif;
                  font-size: 12px;
                  font-weight: bold;
                  text-align: right;
                  color: #293465;
                  height: 100%;
                  width: 600px;
                  padding: 10px;
                  background-color: #d8d8d8;
                  display: flex;
                  align-items: flex-end; /* Aligns content to the bottom */
                  justify-content: flex-end; /* Aligns content to the right */
                "
              >
                <span style="line-height: 10px">Powered by</span>
                <a
                  style="display: inline-block; margin-left: 5px"
                  href="http://www.linea.org.br/"
                >
                  <img
                    style="height: 30px; vertical-align: bottom"
                    src="https://solarsystem.linea.org.br/img/linea-logo.png"
                    alt="Linea Logo"
                  />
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
