.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.MuiOutlinedInput-input {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.margem {
    margin-right: 10px !important;
    margin-left: 2px !important;
}

.css-13cymwt-control {
    min-height: 43px !important;
}

.css-16xfy0z-control {
    min-height: 43px !important;
}

.buttonFilter{
    min-width: 150px !important;
    margin-top: 15px !important;
}