body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img.react-images__view-image {
  max-height: 70vh;
}

html, body, #root {
  height: 100%;
}

.MuiTableRow-root > .MuiTableCell-root > div {
  background-color: inherit !important;
}

th.MuiTableCell-root.MuiTableCell-head {
  background-color: #fff !important;
  z-index: 1;
}

code.hljs.sql {
  background-color: #fff;
}

.js-plotly-plot,
.js-plotly-plot .plot-container.plotly {
  width: 100%;
}

.js-plotly-plot .plot-container.plotly .svg-container {
  width: 100% !important;
  /* height: 'auto' !important; */
  /* min-height: 400px; */
  margin: auto;
}

/* #svg {
  height: 185px;
  width: 835px;
} */

.contrib-legend {
  float: right;
  margin-top: -3%;
}

.text-gray {
  color: #586069;
}

.contrib-legend .legend {
  position: relative;
  bottom: -1px;
  display: inline-block;
  margin: 0 5px;
  list-style: none;
  padding: 0;
}

.contrib-legend .legend li {
  display: inline-block;
  width: 10px;
  height: 10px;
}